#flokesz_Rest{
    -fx-background-image: url("/home/kiss/NetBeansProjects/FlokeszWithOwnEngine/FlokeszOwnEngine/src/main/resources/Flokesz/rest/flokesz.gif");
}
#flokesz_Rest_R{
    -fx-background-image: url("/home/kiss/NetBeansProjects/FlokeszWithOwnEngine/FlokeszOwnEngine/src/main/resources/Flokesz/rest/flokesz_R.gif");
}
#alap{
     -fx-background-image: url("/home/kiss/NetBeansProjects/FlokeszWithOwnEngine/FlokeszOwnEngine/src/main/resources/bg/menu/menu_bg.png");
}